{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="../utils.py"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="module" src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav id="nav_pages">
        <div class="menu-icon">
          <i class="fa fa-bars"></i>
        </div>
        <ul class="menu">
          <li><a href='../'>Inici</a></li>
          <li><a href="../ranking">Rànguing</a></li>
          <li><a href="../actions">Accions</a></li>
          <li><a href="../logout">Sortir</a></li>
          {% if user.is_staff %}
            <li><a href="../admin">Administració</a></li>
          {%endif%}
        </ul>
    </nav>
    
    <main id="base-page">
        {% csrf_token %}
        <div id="notificaciones"></div>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Pie de página -->
    </footer>


    <script>
        $(document).ready(function() {
            // hide the password help text on page load
            $('#formReg .helptext').hide();
            
            // show the password help text if the password is invalid
            $('#formReg form').submit(function(event) {
                var password = $('input[name="password1"]').val();
                var confirm = $('input[name="password2"]').val();
                var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
                
                if (!regex.test(password)) {
                    $('.helptext').show();
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>