{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
{% if user.is_authenticated and character %}
<div class="ball"></div>
<div id="lastActionsCharacter" style="text-align: center;">
  {% render_bundle 'main' %}
</div>
  <div id="infoCharacter" style="text-align: center;">
    {% render_bundle 'main' %}
  </div>
  <div id="actionsCharacter" style="text-align: center;">
    {% render_bundle 'main' %}
  </div>
{% else %}
<div class="ball"></div>
<table  class="infoSeason-table">
    <thead>
      <tr>
        <th colspan="2"><h2>TEMPORADA {{ season.id }}</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>La temporada va començar</td>
        <td><strong>{{ season.game_datetime_starts }}</strong></td>
      </tr>
      <tr>
        <td>La temporada finalitza</td>
        <td><strong>{{ season.game_datetime_ends }}</strong></td>
      </tr>
      <tr>
        <td>Propera recàrrega de mana</td>
        <td><strong>{{ season.time_until_next_recharge }}</strong></td>
      </tr>
      <tr>
        <td colspan="2">QUÈ ESPEREU PER PARTICIPAR!</td>
      </tr>
    </tbody>
  </table>
  <div class="w-9/12 mx-auto bg-[#bfae8b] rounded-md border border-pink-950 p-4 m-5">
    <p class="text-sm font-medium text-brown-800">
      En aquest joc, els jugadors tindran l'oportunitat d'enfrontar-se a intensos duels mà a mà en una sorra plena de pols. Cada jugador tindrà un límit denergia, el que significa que hauràs de planificar acuradament els teus moviments per sortir victoriós.
    </p>
    <p class="text-sm font-medium text-brown-800">
      Trieu el vostre personatge entre una àmplia selecció de personatges de l'oest, cadascun amb habilitats úniques i diferents combinacions d'atacs per triar. Des del ràpid i astut pistoler fins al robust i poderós forjat, cada personatge té la seva pròpia estratègia de lluita i estil de joc.
    </p>
    <p class="text-sm font-medium text-brown-800">
      Prepara't per enfrontar-te als teus oponents en intensos duels, construeix la teva estratègia i converteix-te en el millor lluitador del Salvatge Oest. 1, 2, 3, 4, BANG!</p>
    </p>
  </div>
  <div class="flex justify-around">
    <a href="./login" class="text-white bg-gray-700 hover:bg-yellow-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" style="color: white;">El meu ranxo</a>
    <a href="./register" class="text-white bg-gray-700 hover:bg-yellow-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" style="color: white;">Tren a l'Oest </a>
  </div>
  
{% endif %}
<div id="i_div" class="image">
  <img id="escupinada" class="image" src="../../static/images/escupinada1.png" alt="escupinada">
  <img id="sang" class="image" src="../../static/images/sang.png" alt="sang">
  <img id="bota" class="image" src="../../static/images/bota.png" alt="bota">
  <img id="cowboy" class="image" src="../../static/images/cowboy.png" alt="cowboy">
  <img id="locomotora" class="image" src="../../static/images/loco.png" alt="locomotora">
  <img id="revolver" class="image" src="../../static/images/revolver.png" alt="revolver">
  <div id="levelup" class="text image">HAS PUJAT DE NIVELL</div>
  <div id="kill" class="text image">HAS MATAT L'ENEMIC</div>
  <img id="skull1" class="image" src="../../static/images/skull.png" alt="skull1">
  <img id="skull2" class="image" src="../../static/images/skull.png" alt="skull2">
  <img id="skull3" class="image" src="../../static/images/skull.png" alt="skull3">
  <img id="skull4" class="image" src="../../static/images/skull.png" alt="skull4">
  <img id="skull5" class="image" src="../../static/images/skull.png" alt="skull5">
  <img id="skull6" class="image" src="../../static/images/skull.png" alt="skull6">
  <img id="fletxa1" class="image" src="../../static/images/fletxa.png" alt="fletxa1">
  <img id="fletxa2" class="image" src="../../static/images/fletxa.png" alt="fletxa2">
  <img id="fletxa3" class="image" src="../../static/images/fletxa.png" alt="fletxa3">
  <img id="fletxa4" class="image" src="../../static/images/fletxa.png" alt="fletxa4">
  <img id="fletxa5" class="image" src="../../static/images/fletxa.png" alt="fletxa5">
  <img id="fletxa6" class="image" src="../../static/images/fletxa.png" alt="fletxa6">
  <img id="tabac1" class="image" src="../../static/images/tabac2.png" alt="tabac1">
  <img id="tabac2" class="image" src="../../static/images/tabac1.png" alt="tabac2">
  <img id="tabac3" class="image" src="../../static/images/tabac1.png" alt="tabac3">
  <img id="tabac4" class="image" src="../../static/images/tabac2.png" alt="tabac4">
  <img id="tabac5" class="image" src="../../static/images/tabac2.png" alt="tabac5">
  <img id="pot_tabac" class="image" src="../../static/images/pot_tabac.png" alt="pot_tabac">
  <img id="whisky_ple1" class="image" src="../../static/images/whisky_ple.png" alt="whisky_ple1">
  <img id="whisky_buit1" class="image" src="../../static/images/whisky_buit.png" alt="whisky_buit1">
  <img id="whisky_ple2" class="image" src="../../static/images/whisky_ple.png" alt="whisky_ple2">
  <img id="whisky_buit2" class="image" src="../../static/images/whisky_buit.png" alt="whisky_buit2">
  <img id="whisky_ple3" class="image" src="../../static/images/whisky_ple.png" alt="whisky_ple3">
  <img id="whisky_buit3" class="image" src="../../static/images/whisky_buit.png" alt="whisky_buit3">
  <img id="whisky_ple4" class="image" src="../../static/images/whisky_ple.png" alt="whisky_ple4">
  <img id="whisky_buit4" class="image" src="../../static/images/whisky_buit.png" alt="whisky_buit4">
  <img id="whisky_ple5" class="image" src="../../static/images/whisky_ple.png" alt="whisky_ple5">
  <img id="whisky_buit5" class="image" src="../../static/images/whisky_buit.png" alt="whisky_buit5">
  <img id="bota_e" class="image" src="../../static/images/bota_e.png" alt="bota_e">
  <img id="bota_d" class="image" src="../../static/images/bota_d.png" alt="bota_d">
</div>
{% endblock %}
