{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
{% if user.is_authenticated and character %}
  <div id="infoCharacter" style="text-align: center;" data="{{ page_data }}">
    {% render_bundle 'main' %}
  </div>
  <div id="actionsCharacter" style="text-align: center;" data="{{ page_data }}">
    {% render_bundle 'main' %}
  </div>
{% else %}
<table  class="infoSeason-table">
    <thead>
      <tr>
        <th colspan="2"><h2>TEMPORADA {{ season.id }}</h2></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>La temporada va començar</td>
        <td><strong>{{ season.game_datetime_starts }}</strong></td>
      </tr>
      <tr>
        <td>La temporada finalitza</td>
        <td><strong>{{ season.game_datetime_ends }}</strong></td>
      </tr>
      <tr>
        <td>Propera recàrrega de mana</td>
        <td><strong>{{ season.time_until_next_recharge }}</strong></td>
      </tr>
      <tr>
        <td colspan="2">QUÈ ESPEREU PER PARTICIPAR!</td>
      </tr>
    </tbody>
  </table>
  <div class="w-9/12 mx-auto bg-[#bfae8b] rounded-md border border-pink-950 p-4 m-5">
    <p class="text-sm font-medium text-brown-800">
      En aquest joc, els jugadors tindran l'oportunitat d'enfrontar-se a intensos duels mà a mà en una sorra plena de pols. Cada jugador tindrà un límit denergia, el que significa que hauràs de planificar acuradament els teus moviments per sortir victoriós.
    </p>
    <p class="text-sm font-medium text-brown-800">
      Trieu el vostre personatge entre una àmplia selecció de personatges de l'oest, cadascun amb habilitats úniques i diferents combinacions d'atacs per triar. Des del ràpid i astut pistoler fins al robust i poderós forjat, cada personatge té la seva pròpia estratègia de lluita i estil de joc.
    </p>
    <p class="text-sm font-medium text-brown-800">
      Prepara't per enfrontar-te als teus oponents en intensos duels, construeix la teva estratègia i converteix-te en el millor lluitador del Salvatge Oest. 1, 2, 3, 4, BANG!</p>
    </p>
  </div>
  <div class="flex justify-around">
    <a href="./login" class="text-white bg-gray-700 hover:bg-yellow-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" style="color: white;">El meu ranxo</a>
    <a href="./register" class="text-white bg-gray-700 hover:bg-yellow-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" style="color: white;">Tren a l'Oest </a>
  </div>
{% endif %}
{% endblock %}