{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
	<div id="ranking" style="text-align: center;">
		{% render_bundle 'main' %}
	</div>
	{% if user.is_authenticated %}
		<div id="miniInformationCharacter" style="text-align: center;">
			{% render_bundle 'main' %}
		</div>
		<div id="lastActionsCharacter" class="fixed bottom-5 right-5 text-right w-1/5 h-auto border-5 border-black bg-transparent z-50" style="text-align: center;">
			{% render_bundle 'main' %}
		</div>
	{% endif %}
{% endblock %}