*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(241, 201, 113);
    height: 100vh;
}

.log-reg-content{
    height: 100vh;
    width: 100%;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

.card-title{
    border-radius: 10px 10px 0 0;
    background-color: white;
    width: 40%;
    text-align: center;
    padding: 15px;  
}
.card-content{
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 0.384);
    width: 40%;
    padding: 15px;
}

.card-content p{
    margin: 10px auto;
    width: 60%;
    box-sizing: border-box;
}

.card-content p input{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 3px;
}

.log-reg-content button{
    width: 120px;
    height: 28px;
    font-size: 16px;
    margin: 20px auto;
    display: block;
}


.ranking-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.ranking-table th,
.ranking-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.action-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 5%;
}

.action-table th,
.action-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.infoSeason-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 5%;
}
.infoSeason-table th,
.infoSeason-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}