*{
    margin: 0;
    padding: 0;
}

/* Estilo para títulos */
h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 48px;
    color: #9C704F;
    text-shadow: 2px 2px #5C3B1E;
  }
  
  /* Estilo para subtítulos */
  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: #B08D57;
    text-shadow: 2px 2px #50300F;
  }
  
  /* Estilo para párrafos */
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #4F4F4F;
    text-shadow: 1px 1px #B08D57;
  }
  
  /* Estilo para enlaces */
  a {
    color: #9C704F;
    text-decoration: none;
    border-bottom: 1px solid #9C704F;
  }
  
  a:hover {
    color: #50300F;
    border-bottom: 1px solid #50300F;
  }

body{
    background-color: #ffe6b3;
    height: 100vh;
}

.log-reg-content{
    height: 100vh;
    width: 100%;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

.card-title{
    border-radius: 10px 10px 0 0;
    background-color: white;
    width: 40%;
    text-align: center;
    padding: 15px;  
}
.card-content{
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 255, 255, 0.384);
    width: 40%;
    padding: 15px;
}

.card-content p{
    margin: 10px auto;
    width: 60%;
    box-sizing: border-box;
}

.card-content p input{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border-radius: 3px;
}

.log-reg-content button{
    width: 120px;
    height: 28px;
    font-size: 16px;
    margin: 20px auto;
    display: block;
}


.ranking-table {
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.ranking-table th,
.ranking-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.action-table {
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 5%;
}

.action-table th,
.action-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.infoSeason-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 5%;
}
.infoSeason-table th,
.infoSeason-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}